@media (max-width: 740px) {
    header nav {
        margin-bottom: 50px;
    }

    .menu-burger-icon {
        display: block !important;
        z-index: 10000!important;
    }

    .header-menu {
        display: none !important;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        margin: 0!important;
        padding: 80px 20px;
        flex-direction: column;
        align-items: center;
        justify-content: start!important;
        background-color: #ee7f00;
        z-index: 1000;
    }

    .header-menu li {
        display: block;
        width: 100%;
        margin: 10px 0!important;
        border-bottom: 1px solid #dd7600;
        text-align: right;
        transition: background-color .4s ease-in-out;
    }

    .header-menu li a {
        color: #fff!important;
        font-size: 3.5vw !important;
    }

    .header-menu li a:hover {
        color: #444 !important;
    }

    .knowledge-box-container .box h4 {
        font-size: 3.7vw;
    }

    .knowledge-box-container .box p {
        font-size: 2.7vw;
    }

    .knowledge-box-container .box {
        height: 25vw !important;
    }
}

@media (max-width: 671.98px) {
    .projects-container .card{
        width: 90%!important;
    }
    .lang-selector{
        width: 7.8vw!important;
        height: 5.5vw!important;
        padding: 1vw!important;
        font-size: 2vw!important;
    }
}

@media (max-width: 600px) {
    .sect-title {
        font-size: 6vw !important;
    }

    .about-sect ul li {
        font-size: 3vw !important;
    }
}

@media (max-width: 575.98px) {
    .progress-container {
        width: 93.5% !important;
    }
}

@media (max-width: 430px) {
    .request-content p {
        font-size: 2.6vw !important;
    }

    .request-content p span {
        font-size: 2.6vw !important;
    }

    .request-content button {
        font-size: 2.3vw !important;
    }

    .request-header h3 {
        padding: 1.5vw!important;
    }

    .request-content {
        padding: 1.5vw!important;
    }
}

@media (max-width: 767.98px) {
    .footer-col {
        margin-right: 15px !important;
        width: calc(calc(100% / 3) - 15px) !important;
    }
}

@media (max-width: 575px) {
    .footer-col {
        width: 100% !important;
        padding: 30px 15px;
    }

    .footer-nav {
        flex-direction: column;
    }
}

@media (max-width: 428.98px) {
    .footer-menu {
        text-align: center;
    }

    .footer-social-network {
        text-align: center;
    }
}

.app {
    width: 1200px;
}
@media (max-width: 1199.98px) {
    .app {
        width: 992px;
    }
}
@media (max-width: 991.98px) {
    .app {
        width: 768px;
    }
}
@media (max-width: 767.98px) {
    .app {
        width: 576px;
    }
}
@media (max-width: 576.98px) {
    .app {
        width: calc(100% - 30px);
    }
}